.calendar-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  position: relative;
}

.calendar-table {
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  min-width: 30px;
}

th {
  background-color: #f4f4f4;
}

.day-name {
  font-weight: bold;
  background-color: #e91e63;
  color: white;
  text-align: left;
}

.time-slot {
  cursor: pointer;
  border: 1px solid #dfdfdf;
}

.time-slot:hover {
  box-shadow: inset 0 0 0 1px #4a89b3;
}

.time-slot.open {
  background-color: #c0f5b5;
  border-color: #fff;
}

/* Zvýraznění při tažení */
.time-slot.selecting {
  background-color: #4a89b3;
}

/* Zvýraznění po potvrzení */
.time-slot.selected {
  background-color: #4a89b3;
  color: white;
}

/* Zvýraznění rezervace */
.time-slot.reserved {
  background-color: #eaeaea;
  border-color: #fff;
  color: white;
  cursor: not-allowed;
}

/* Fixní sloupec pro dny */
.sticky-column {
  position: sticky;
  left: 0;
  background-color: #e91e63;
  color: white;
  font-weight: bold;
  z-index: 200;
  border-right: 2px solid #ddd;
}

/* Zvýraznění celého řádku při hoveru */
tr:hover td {
  border-top: 1px solid #4a89b3 !important;
}
