.calendar-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  position: relative;
}

.calendar-table {
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  min-width: 30px;
}

th {
  background-color: #f4f4f4;
}

.day-name {
  font-weight: bold;
  background-color: #e91e63;
  color: white;
  text-align: left;
}

.time-slot {
  background-color: #fff;
  cursor: pointer;
}

.time-slot:hover {
  box-shadow: inset 0 0 0 1px #b34a50;
}

/* Zvýraznění při tažení */
.time-slot.selecting {
  background-color: rgba(179, 74, 80, 0.5) !important;
}

/* Zvýraznění po potvrzení */
.time-slot.selected {
  background-color: rgba(100, 30, 30, 0.8);
  color: white;
}

/* Fixní sloupec pro dny */
.sticky-column {
  position: sticky;
  left: 0;
  background-color: #e91e63;
  color: white;
  font-weight: bold;
  z-index: 200;
  border-right: 2px solid #ddd;
}

/* Zvýraznění celého řádku při hoveru */
.hover-row:hover td {
  background-color: rgba(233, 30, 99, 0.05);
}
