.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 rem(20);

	@include media-up(lg) {
		max-width: rem(750);
	}

	@include media-up(xl) {
		max-width: rem(1100);
	}

	@include media-up(xxl) {
		max-width: rem(1200);
	}

	&--main {
		background: transparent no-repeat url(../../public/images/layout/main-bg.svg) right -80px;
	}
}

.layout {
	display: grid;
	gap: 1rem;
	align-items: start;
	grid-template-columns: 1fr;

	aside {
		display: none;
	}

	@include media-up(lg) {
		grid-template-columns: 1fr rem(400);

		aside {
			background: #f8f8f8;
			padding: 1rem;
		}
	}
}

// 🎯 Header
.header {
	&__title {
		margin: 0;
		font-size: rem(40);
		padding-top: rem(40);
		margin-right: rem(380);
		font-weight: 300;
		text-transform: uppercase;
		@include gradient-border;
	}
}

// 🎯 Sidebar
.sidebar {
	background: #f8f8f8;
	padding: 1rem;
	border-radius: 8px;

	&__title {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	&__list {
		list-style: none;
		padding: 0;
	}

	&__item {
		margin-bottom: 0.5rem;
	}

	&__link {
		color: #b34a50;
		text-decoration: none;
	}
}

.nav {
	&--main {
		background-color: var(--secondary-color);
	}
}

// 🎯 Footer
.footer {
	background-color: var(--secondary-color);
	color: white;
	text-align: center;
	padding: 1rem;
	margin-top: 2rem;
	margin-left: rem(-40);
	margin-right: rem(-40);

	&__text {
		margin: 0;
	}
}